header {

	@include ul-reset;

	padding: 15px 0 25px 0;
	.logo-block {
		@include bg-icon;
		background-image: url("../img/logo.png");
		width: 80px;
		height: 80px;

		@media(max-width: 767px) {
			order: 1;
		}
	}
	.header-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 15px;

		.menu-top {
			ul {
				display: flex;
				li {
					display: flex;
					a {
						text-transform: uppercase;
						font-weight: 600;
						&:hover {
							color: $main-color;
						}

						@media(max-width: 767px) {
							font-size: 12px;
						}
					}
					&:last-child::after {
						display: none;
					}
					&::after {
						content: "|";
						display: block;
						margin: 0 7px;
						color: $main-color;
						font-weight: 900;
						@media(max-width: 767px) {
							margin: 0 5px;
						}
					}
				}

			}

			@media(max-width: 767px) {
				order: 3;
				margin-top: 15px;
				flex-basis: 100%;
			}
		}
		.contact-block {
			a {
				display: block;
				&.phone {
					font-size: 16px;
					font-weight: 800;
					margin-bottom: 5px;
				}
				&.mail {
					color: #235dac;
					text-transform: uppercase;
					font-weight: 500;
				}
			}
			@media(max-width: 767px) {
				order: 2;
			}
		}


	}
	.header-banner {
		background-image: url("../img/header-banner.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		min-height: 300px;
		display: flex;
		justify-content: center;
		align-items: center;
		.text {
			color: white;
			text-transform: uppercase;
			font-size: 36px;
			text-align: center;
			max-width: 700px;
			margin: 0 auto;
			@media(max-width: 767px) {
				font-size: 26px;
			}
		}
	}


}
