@import "constants";
@import "header";
@import "footer";
@import "slider";



body {
	background-color: white;
}

body * {
	color: $font-color;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}



.btn-primary {
	@include btn-reset;
	color: white;
	background: $main-color;
	text-transform: uppercase;
	font-weight: 600;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	&:hover {
		cursor: pointer;
		text-decoration: none;
		background: $main-color-hover;
	}
}

.btn-secondary {
	@include btn-reset;
	background-color: $btn-secondary-bg;
	color: white;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 14px;
	border-radius: 25px;
	height: 45px;
	width: 200px;
	&:hover {
		background-color: $btn-secondary-bg-hover;
		cursor: pointer;
	}
}

.subtitle-2 {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
}


.subtitle-1 {
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
}


.grid-main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.left-col {
	flex-basis: 25%;
	flex-grow: 0;
	@media(max-width: 767px) {
		flex-basis: 100%;
		order: 3;
		margin-bottom: 10px;
	}
	@media(min-width: 768px) and (max-width: 991px) {
		flex-basis: 100%;
		order: 3;
	}
}

.center-col {
	flex-basis: 45%;
	min-height: 100px;
	@media(min-width: 768px) and (max-width: 991px) {
		flex-basis: 60%;
		order: 1;
	}
	@media(max-width: 767px) {
		flex-basis: 100%;
		order: 1;
		margin-bottom: 20px;
	}
}

.right-col {
	flex-basis: 25%;

	@media(max-width: 767px) {
		flex-basis: 100%;
		order: 2;
		margin-bottom: 30px;
	}
	@media(min-width: 768px) and (max-width: 991px) {
		flex-basis: 35%;
		order: 2;
	}
}

.team-block {
	.subtitle-2 {
		margin-bottom: 30px;
	}
}

.center-col {
	.banner-main-top {
		color: white;
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 500;
		line-height: 30px;
		padding: 50px;
		background: url("../img/banner-1.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		@media(max-width: 767px) {
			padding: 15px;
		}
		@media(min-width: 768px) and (max-width: 991px) {
			padding: 20px;
		}
	}

	.about-block {
		margin-top: 30px;
		.subtitle-1 {
			margin-bottom: 30px;
		}
		.text {
			line-height: 20px;
		}
	}

	.services {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		margin-top: 30px;
		.subtitle-1 {
			margin-bottom: 30px;
		}


		.item {
			flex-basis: 100%;
			margin-bottom: 15px;


			.title {
				display: flex;
				align-items: center;
				height: 75px;
				background-color: #f1f1f1;
				padding: 0 20px;
				.icon {
					margin-right: 20px;
					flex-shrink: 0;
					img {
						max-width: 50px;
						max-height: 55px;
						max-width: 100%;
						&.active {
							display: none;
						}
					}
				}
				.text {
					color: $main-color;
				}
			}

			.info {
				display: none;
				border: 2px solid #2d3a83;
				padding-top: 20px;
				padding-bottom: 20px;
				padding-right: 20px;


				ul {
					padding-left: 15px;
					li {
						list-style-type: none;
						display: flex;
						align-items: flex-start;
						padding: 10px 0;
						border-bottom: 1px dashed #f1f1f1;

						&::before {
							content: "\2022";
							color: #2d3a83;
							font-size: 22px;
							position: relative;
							top: -5px;
							margin-right: 20px;
							vertical-align: top;
						}
					}
				}




			}

			&.active {

				height: auto;

				.title {

					//					padding: 0 30px;
					background-color: $main-color; //					height: 110px;
					.text {
						color: white;
					}
					img {
						max-width: 50px;
						max-height: 55px;
						max-width: 100%;
						&.notactive {
							display: none;
						}
						&.active {
							display: block;
						}
					}

				}

				.info {
					display: block;
				} //				&::after {
				//					content: "";
				//					display: block;
				//					position: absolute;
				//					left: 30%;
				//					bottom: -3px;
				//					width: 0;
				//					z-index: 2;
				//					height: 0;
				//					border-left: 15px solid transparent;
				//					border-right: 15px solid transparent;
				//					border-bottom: 15px solid white;
				//				}
			}

			&:hover {
				cursor: pointer;

				.title {

					//					padding: 0 30px;
					background-color: $main-color; //					height: 110px;
					.text {
						color: white;
					}
					img {
						max-width: 50px;
						max-height: 55px;
						max-width: 100%;
						&.notactive {
							display: none;
						}
						&.active {
							display: block;
						}
					}

				}

			}
		}
	}

	.partners {
		margin-top: 20px;
		padding-top: 30px;
		padding-left: 10px;
		padding-right: 10px;
		margin-right: -10px;
		background: linear-gradient(to bottom, #ededed, #ffffff);
		.subtitle-2 {
			margin-bottom: 30px;
		}
		.partners-row {
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			.item {
				margin-right: 10px;
				margin-bottom: 30px;
				img {
					max-height: 55px;

				}
			}
		}
	}
}


.right-col {
	.projects {
		background-color: #f1f1f1;
		padding: 25px 15px;

		.subtitle-2 {
			margin-bottom: 25px;
		}
		.item {
			max-width: 250px;
			margin: 0 auto;
			margin-bottom: 30px;


			.photo-block {
				height: 180px;
				width: 100%;
				background-image: url("../img/pr1.png");
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				margin-bottom: 20px;
			}
			.date-block {
				font-weight: 600;
				margin-bottom: 20px;
			}
			.title-block {
				text-transform: uppercase;
				font-weight: 600;
				margin-bottom: 20px;
				font-size: 12px;
				line-height: 20px;
			}
			.fullink {
				font-weight: 500;
				color: $main-color;
				text-decoration-color: #c0c3d5;
				text-decoration: underline;
			}
		}
		.btn-show-all {
			height: 50px;
			width: 100%;
			max-width: 250px;
			margin: 0 auto;
		}
	}
	.news{
		background: #f1f1f1;
		padding: 25px 15px;
		.subtitle-2{
			margin-bottom: 30px;
		}
		.list-news{
			.item{
				margin-bottom: 20px;
				.date{
					font-weight: 700;
					font-size: 14px;
					margin-bottom: 5px;
				}
				.text{
					font-size: 12px;
					line-height: 20px;
					text-decoration: underline;
					text-decoration-color: #c5c5c5;
					
				}
			}
		}
		.show-all-news{
			text-transform: uppercase;
			color: $main-color;
			font-weight: 700;
				
		}
	}
						
	
}
